simulate/HRTF-Database
simulate/TIMIT
simulate/NIGENS

device/dataset
dataset/6DoFSELDDataset
dataset/audioset
dataset/earphone
dataset/FUSS
dataset/smartglass
dataset/starss23
dataset/NIGENS
dataset/TIMIT
dataset/VCTK

lightning_logs/
cache/
*.ckpt
*.json
*.png
*.jpg
*.avi
*.txt
*.pyc
*.wav
*.npy
*.csv
*.mp4
*.png
*.pt
*.out