simulate/HRTF-Database

device/dataset

dataset/audio
dataset/adhoc
dataset/BinauralCuratedDataset
dataset/SELD
dataset/earphone
dataset/smartglass


lightning_logs/
cache/
*.pdf
*.ckpt
*.json
*.png
*.jpg
*.avi
*.txt
*.pyc
*.wav
*.npy
*.csv
*.mp4
*.png
*.pt
*.out